<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button>Rafraichir</button>
      <a routerLink="add" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>

    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="quantity">Quantité</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.99 €</td>
          <td class="quantity">100</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">5.00 €</td>
          <td class="quantity">5</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">1.99 €</td>
          <td class="quantity">30</td>
        </tr>
        <tr>
          <td class="name">Râteau</td>
          <td class="price">6.99 €</td>
          <td class="quantity">10</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
