form {
  display: flex;
  flex-flow: column;
  gap: 2em;

  width: 100%;
  max-width: 20em;

  label {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
  }

  input {
    padding: 0.5em 1em;
    border: 0.1em solid #bbb;
    border-radius: 0.3em;
  }

  button {
    margin-top: 3em;
  }

  span {
    gap: 1.5em;
    margin: 0 0.5em;
  }

  div.error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
    font-weight: bold;
  }
}
