<main>
  <h1>Mentions Légales</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut at debitis
    facilis unde, qui quos soluta repellendus veniam suscipit cumque et
    voluptates, consequuntur earum molestiae nihil itaque explicabo? Vel,
    suscipit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
    eveniet magni ratione similique perspiciatis consequuntur est, libero enim
    quam officia autem architecto quisquam labore natus ea eos! Accusantium, sit
    officiis! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
    ipsum repudiandae modi vel voluptatibus, consequatur magnam reiciendis dolor
    non incidunt nobis minus. Eligendi at numquam ut soluta voluptates non quia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi
    veritatis porro iusto officia hic, sunt facere quod tempore sint minima qui,
    eum animi culpa, debitis repellat sequi quos ipsa.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint est fugit
    error ea labore eveniet, facere reprehenderit unde architecto suscipit
    accusamus et explicabo id nihil non ullam! Debitis repellat qui enim ullam
    molestiae labore quo aut ratione quibusdam. Delectus officiis eaque
    reprehenderit perspiciatis pariatur quae cupiditate suscipit ipsam
    consequatur possimus.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugiat eum
    harum? Vel vero quas tempore et, autem, pariatur maxime adipisci facere
    expedita mollitia, harum voluptas aliquid eaque labore tenetur sapiente
    fugiat soluta consectetur vitae. Pariatur ab animi id tempora corrupti eaque
    impedit, explicabo aliquid neque minima, magni, sit alias mollitia obcaecati
    hic quasi velit ratione commodi odit exercitationem aperiam voluptates
    consequuntur. Omnis officia voluptatem aut soluta facere enim esse cumque
    illo dolorum dolores pariatur asperiores magni eveniet beatae quaerat quidem
    consequuntur, fuga quod quibusdam. At ea vel tempora, ipsam facilis
    molestias aliquid fugiat nesciunt dolorem consectetur omnis culpa, quaerat
    ipsa minima eum. Necessitatibus voluptatem dolorem alias! Quasi doloremque
    debitis cum quaerat suscipit, enim ullam totam mollitia deleniti autem
    dolorem soluta aliquam ipsum aliquid assumenda placeat id vero, maiores
    praesentium voluptatibus? Eum minus saepe autem quos voluptatem laborum
    doloremque enim ipsa sint aliquid tenetur voluptate exercitationem quaerat,
    commodi quam dignissimos temporibus consequuntur. Nihil iste magnam
    explicabo, fugit cupiditate magni. Doloremque quasi, temporibus minus
    commodi quo et! Incidunt debitis omnis praesentium repellendus quas quasi
    sapiente doloremque obcaecati, minima id aliquid beatae vel mollitia
    molestiae culpa nulla, fuga quidem eligendi non magni neque ad unde illum.
    Sequi aperiam esse quibusdam laborum tempore?
  </p>
</main>
